<h1>New City Form</h1>
<form action="/employees/<%= @operator.id %>/city/new" method="post" class="form-group">
  <input name="name" id="name" type="text" placeholder="Enter Your City">
  <button type="submit">Submit</button>
</form>
