<h1>Customer Page</h1>

<% if @customers != nil %>
  <div class="column col-md-9 list-group">
    <% @customers.each do |operator| %>
      <a class="list-group-item" href="/customers/<%=customer.id%>"><%=customer.name%></a>
    <% end %>
  </div>
  <div class="column col-md-3 list-group">
    <% @operators.each do |operator| %>
      <form action="/customers/<%=customer.id%>" method="post">
        <input name="_method" type="hidden" value="delete">
        <button class="list-group-item btn btn-danger" type="submit">X</button>
      </form>
    <% end %>
  </div>
<% end %>

<div class="row">
  <a href="/customers/new">New Employees Register Here</a>
</div>
