<div class="row employees">
 <h1>Select Your Name</h1>
</div>

<div class="row employee-list">
<% if @operators != nil %>
  <div class="column col-md-10 list-group">
    <% @operators.each do |operator| %>
      <a class="list-group-item" href="/employees/<%=operator.id%>"><%=operator.name%></a>
    <% end %>
  </div>
  <div class="column col-md-2 list-group">
    <% @operators.each do |operator| %>
      <form action="/employees/<%=operator.id%>" method="post">
        <input name="_method" type="hidden" value="delete">
        <button class="list-group-item btn btn-danger" type="submit">X</button>
      </form>
    <% end %>
  </div>
<% end %>
</div>

<% if @cities.length < 10 %>
  <div class="row">
    <form action="/employees/add_cities" method="post" class="form-group">
      <button class = "btn btn-default" type="submit">Add Major Cities</button>
    </form>
  </div>
<% end %>
<% if @trains.length < 3 %>
  <div class="row">
    <form action="/employees/add_trains" method="post" class="form-group">
      <button class="btn btn-default" type="submit">Add Major Train Lines</button>
    </form>
  </div>
<% end %>

<button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal">
  New Employee Register
</button>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New Employee</h4>
      </div>
      <div class="modal-body">
        <form action="/employees" method="post" class="form-group">
          <input name="name" id="name" type="text" class="form-control" placeholder="Enter Your Name">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button class="btn btn-primary" data-toggle="modal" type="submit">Enter</button>
      </form>
      </div>
    </div>
  </div>
</div>
