<h1>New Employee Form</h1>
<form action="/employees" method="post" class="form-group">
  <input name="name" id="name" type="text" placeholder="Enter Your Name">

  <button type="submit">Enter</button>
</form>
