
<h1>New Employee Form</h1>
<form action="/employees" method="post" class="form-group">
  <input name="name" id="name" type="text" placeholder="Enter Your Name">

  <button class="btn btn-default" data-toggle="modal" type="submit">Enter</button>
</form>
  <a class="btn btn-default" role="button" href="/employees">Back</a>
