<!DOCTYPE html>
<html>
  <head>
    <title>Pickup Lines</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Oswald|Kaushan+Script|Cabin' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href="/css/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="container main-container">
      <div class="container header">
        <div class="lead"><a href="/">PICKUP LINES</a></div>
        <div class="tagline">Come Here Often?</div>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
