<!DOCTYPE html>
<html>
  <head>
    <title>Pickup Lines</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Hammersmith+One|Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="container header">
      <div class="lead">Pickup Lines</div>
      <div class="tagline">For That One Special Bus</div>
    </div>
    <div class="container main-container">
      <%= yield %>
    </div>
  </body>
</html>
