<h1>New Train Form</h1>
<form action="/employees/<%= @operator.id %>/train/new" method="post" class="form-group">
  <input name="line" id="line" type="text" placeholder="Enter Train Name">

  <button type="submit">Submit</button>
</form>
